<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/header') %>
</head>

<body class="container">
    <main>
        <div class="jumbotron">
            <form action="/place/:id" method="POST">
                <h1><%= place.name %></h1>
                <p><%= place.description %></p>
            </form>
        </div>
    </main>
</body>

<footer>
    <%- include('partials/footer') %>
</footer>

</body>
</html>