.blog-post {
    margin-top: 3%;
}

.blog-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.category-date {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 500;
}

.category-date #category-blog {
    margin-right: 20px;
    color: #ffcf56;
}

.category-date #date-blog {
    margin-right: 20px;
    color: rgb(201, 201, 201);
}

.blog-post h1 {
    font-size: 40px;
    margin: 0;
    margin-bottom: 2%;
    margin-top: 0.5%;
}

.blog-post #body {
    font-size: 18px;
    line-height: 36px;
}

.blog-options {
    margin-top: 8px;
    left: 7%;
    height: 150px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.more-blog-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
    margin-left: 10px;
}

.more-blog-options img {
    margin-top: 6px;
}

.blog-post-icon {
    margin-left: 10px;
    height: 25px;
    width: 25px;
}

.blog-post-icon:hover {
    cursor: pointer;
    color: #ffcf56;
}

#blog-up-arrow {
    padding: 0;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    margin-bottom: 30px;
    margin-top: 5px;
    margin-left: 10px;
    height: 25px;
    width: 25px;
}