#fields {
    display: table;
}
.field {
    font-size: 20px;
    display: table-row;
}
.field input {
    margin: 10px;
    padding: 7px;
    border: none;
    display: table-cell;
}
.field label {
    display: table-cell;
}
.field p {
    margin: 10px;
}

.change-password-container button {
    width: 200px;
}

.change-password-container {
    display: flex;
    flex-direction: column;
}

.change-password-container label {
    font-size: 20px;
}

.change-password-container input {
    border: none;
    padding: 7px;
    width: 300px;
    margin: 10px;
    margin-left: 0;
}

#username {
    display: flex;
    align-items: center;
}

#username img {
    margin-top: 5px;
    margin-left: 5px;
    width: 22px;
    height: 22px;
}

.table-header-container {
    margin-top: 20px;
    margin-bottom: 12px;
}

.table-header-container button {
    background-color: transparent;
    border-radius: 16px;
}

.table-container {
    display: flex;
    width: fit-content;
}

th {
    text-align: left;
    padding: 18px 12px;
    color: rgb(180, 180, 180);
    font-weight: bold;
}

td {
    padding: 4px 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 400px;
}

.dashboard-edit-icon {
    height: 18px;
    width: 18px;
    padding-top: 3px;
}

.dashboard-delete-icon {
    height: 18px;
    width: 18px;
    padding-top: 6px;
}

.dashboard-delete-icon:hover {
    cursor: pointer;
}