@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  background-color: black;
  font-family: 'Inter', sans-serif;
}

h1 {
  color: white;
}

#hero-col-left {
  padding-right: 10%;
  padding-top: 3%;
}

#hero-col-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
}

#hero-heading {
  color: white;
  font-weight: bold;
  font-size: 50px;
  margin: 0;
}

#hero-purdue {
  color: #FFC632;
  font-weight: bolder;
  font-size: 120px;
  margin: 0;
}

#hero-desc {
  color: white;
  font-weight: normal;
  font-size: 20px;
}
#hero-image {
  display: flex;
  padding-top: 3%;
  justify-content: flex-end;
  align-items: center;
}
.hero {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#bellTower {

  width: 90%;
  border-radius: 10px;
}

.col {
  flex: 1;
}

hr {
  margin-bottom: 3%;
  margin-top: 3%;
}

.reviews {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.reviews h1 {
  font-size: 45px;
  text-align: center;
  letter-spacing: 0.1rem;
  margin-top: 0;
}

.reviews-container {
  display: flex;
  flex: auto;
  flex-wrap: wrap;
  row-gap: 20px;
  justify-content: space-between;
}

.recent-blogs-container {
  display: flex;
  flex-direction: column;
}

#recent-blog-card {
  color: black;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 10px;
}

#recent-blog-card .blog-card-title {
    color: black;
}

#recent-blog-card .blog-card-content {
    color: black;
}

#recent-blog-card .blog-card-tag {
  color: #ffb30e;
  font-weight: 500;
}

#recent-blog-card::before {
  background: none;
}

#recent-blog-card-info {
  color: black;
}

.recent-blogs h1 {
  font-size: 45px;
  line-height: 25px;
}

.recent-blogs h1 span {
  color: #ffb30e;
}

.recent-blog-heading {
  margin-bottom: 40px;
}

#explore-blog-arrow {
  color: white;
}

#explore-blog-arrow:hover {
  cursor: pointer;
  color: #ffb30e;
}

#subheading {
  font-size: 56px;
}

.featured {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.featured-place-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 4%;
  color: black;
}

.featured-place-card h1 {
  color: black;
  margin: 0;
}

.featured-card-content {
  padding: 5%;
}

.featured-place-card img {
  max-width: 300px;
  max-height: 300px;
}

.featured-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.featured-heading .stars {
  font-size: 30px;
}

.featured-heading .rating-number-recent-review {
  font-size: 20px;
}

#hero-heading-2 {
  color: white;
  font-weight: bold;
  font-size: 80px;
  margin: 0;
}

#featured-sub {
  color: #ffca44;
  font-weight: bolder;
  font-size: 80px;
  margin: 0;
}

#hero-heading-3 {
  color: white;
  font-weight: bold;
  font-size: 70px;
  margin: 0;
}
