.place-container {
    margin-top: 20px;
}

.top-container {
    display: flex;
    color: white;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
}

.place-image {
    position: relative;
    margin-right: 20px;
  }
  
.prev,
.next {
    position: absolute;
    top: 80%;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    outline: none;
}
  
.prev {
    left: 20px;
}
  
.next {
    right: 20px;
}

#place-img {
    width: 500px;
    height: 300px;
    border-radius: 12px;
}

.expanded-image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #expanded-place-img {
    max-width: 90vw;
    max-height: 90vh;
  }

.info-container {
    display: flex;
    flex-direction: column;
    color: white;
}

.info-first-row {
    display: flex;
    justify-content: space-between;
}

.place-name {
    margin: 0px;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
}

.icons-container {
    display: flex;
}

.icons-container img {
    width: 20px;
    height: 20px;
    margin-left: 4px;
}

.icons-container img:hover {
    cursor: pointer;
}

.rating {
    font-size: 24px;
    margin: 0px;
    display: flex;
    justify-content: space-evenly;
    width: fit-content;
}

.rating-number {
    display: flex;
    margin-right: 4px;
    font-size: 14px;
    padding-top: 4px;
}

.ratings-reviews-container {
    display: flex;
}

.tags-container-place {
    display: flex;
    flex-direction: row;
    margin-top: 4px;
}

.hours-container {
    display: flex;
    flex-direction: column;
}

.bottom-container {
    display: flex;
}

.reviews-column-container {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.add-review-container {
    border: 2px solid #8383834d;
    background-color: #8383831f;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 1.5%;
    width: 80%;
}

#add-review-title {
    font-size: 20px;
    margin: 0px;
    font-weight: bold;
}

#rating-container {
    display: flex;
}

#add-review-rating {
    font-size: 16px;
    margin: 0px;
    margin-top: 4px;
    font-weight: bold;
}

#add-review-as {
    font-size: 12px;
    margin: 0px;
}

#account-name {
    font-weight: bold;
    color: #FFC632;
}

.text-box-container {
    display: inline-block;
    position: relative;
}

.text-box-container textarea {
    padding: 8px;
    background-color: transparent;
    width: 98%;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-top: 4px;
    border: 1px solid #8383834d;
    border-radius: 4px;
    color: #bbbbbb;
    overflow: hidden;
    resize: none;
    display: block;
    height: 100px;
}

.text-box-container textarea:focus {
    outline: none;
}

.text-box-container textarea:focus::placeholder {
    color: transparent;
}

.add-image-icon {
    display: flex;
    width: 24px;
    height: 24px;
    position: absolute;
    bottom: 4px;
    left: 6px;
    padding: 2px;
}

.add-image-icon:hover {
    cursor: pointer;
    background-color: #99999931;
    border-radius: 4px;
}

.review-button {
    display: flex;
    margin-left: auto;
    font-size: 12px;
    background-color: #FFC632;
    color: #626262;
    width: fit-content;
    position: absolute;
    bottom: 8px;
    right: 8px;
    border-radius: 8px;
}

.review-button:hover {
    background-color: white;
    color: black;
}

.review-button:disabled {
    cursor: not-allowed;
    background-color: #FFC632;
    color: #626262;
  }

.sorting {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 14px;
    color: #FFC632;
}

.review-container {
    display: flex;
    margin-bottom: 12px;
}

#up-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    margin: 0px;
    background-color: transparent;
    padding: 0px;
}

#review-likes {
    font-size: 14px;
}

.delete-icon-container {
    margin-top: 2px;
}

.delete-icon {
    width: 16px;
}

.individual-review-container {
    display: flex;
    margin-top: 12px;

}

.individual-review-container-info {
    display: flex;
    flex-direction: column;
    color: #B4B4B4;
    padding-top: 2px;
    padding-left: 6px;
}

#review-name {
    font-size: 16px;
    margin: 0px;
}

#review-stars {
    font-size: 16px;
    margin: 0px;
}

#review-text {
    font-size: 14px;
    margin: 0px;
}

#time-ago {
    color: #626262;
}

.review-stars {
    margin-top: -6px;
    color: #ffc107;
}

.individual-review p {
    margin: 0px;
    margin-bottom: 4px;
}

.suggested-container {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.suggested-places {
    display: flex;
    flex-direction: column;
}

.suggested-card {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
    background-color: white;
    border-radius: 1rem;
    height: 100px;
    width: 100%;
}

.suggested-card-info {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
}

.suggested-card p {
    color: black;
    margin: 0;
}

.suggested-card img {
    height: 80px;
    width: 120px;
    margin-left: 3%;
    border-radius: 1rem;
}

.favorite-icon {
    color: #626262;
}

.favorite-icon:hover {
    color: red;
    cursor: pointer;
}

.red {
    color: red;
  }