a {
  text-decoration: none;
  color: white;
}

nav {
    display: flex;
    font-weight: 500;
    font-size: 20px;
    background-color: black;
    color: white;
    justify-content: space-between;
    align-items: center;
  }

  nav p {
    font-weight: 500;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin-right: 2rem;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    color: #FFC632;
  }
  
  nav span {
    color: #FFC632;
  }


  .nav-buttons {
    display: flex;
  }

  .sign-up,
  .login {
    padding: 10px 20px;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .sign-up:hover,
  .login:hover {
    background-color: #000;
    color: #fff;
  }
  
  .sign-up {
    margin-right: 10px;
  }
  
  .login {
    background-color: #000;
    color: #fff;
  }
  


