nav {
    display: flex;
    font-weight: 500;
    font-size: 20px;
    color: white;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin-right: 2rem;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    color: #FFC632;
  }
  
  nav span {
    color: #FFC632;
  }


  .nav-buttons {
    display: flex;
  }

  .login {
    margin-left: 20px;
    background-color: black;
    color: #FFC632;
  }


