.search-bar {
    display: flex;
    align-items: center;
    background-color: #DDDDDD;
    border-radius: 60px;
    height: 50px;
    width: 300px;
}

.inside {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5%;
}

.inside img {
    height: 25px;
    width: 25px;
}

.inside p {
    color: #848484;
    margin-left: 10px;
}