body {
    overflow-x: hidden;
  }

.browse {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.browse h1 {
    font-size: 65px;
    text-align: center;
}
.categories-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 25px;
    justify-content: space-between;
}

.sorting-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFC632;
    margin-bottom: 20px;
    margin-top: 50px;
}

.sorting-container span:hover {
    cursor: pointer;
}

.filter-bar {
    text-align: center;
}

.filter-button {
    background-color: white;
    color: black;
    border-radius: 0;
    border-right: black 1px solid;
    height: 45px;
    width: 155px;
}

#left-filter {
    border-radius: 20px 0px 0px 20px;
}

#right-filter {
    border-radius: 0px 20px 20px 0px;
}

.link-back {
    color: #FFC632;
}

.fire-button {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: linear-gradient(45deg, #ff512f, #dd2476);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    overflow: hidden;
  }
  
  .fire-button::before {
    content: '';
    position: absolute;
    top: -30px;
    left: -60px;
    width: 120px;
    height: 120px;
    background: radial-gradient(circle at center, transparent, #ff512f);
    animation: flames 3s linear infinite;
  }
  
  @keyframes flames {
    0% {
      transform: rotate(0) scale(1);
    }
    100% {
      transform: rotate(360deg) scale(1.2);
      opacity: 0;
    }
  }